<!DOCTYPE html>
<html>
<head>
  <title>MedCheck AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="floating" style="left:10%">💊</div>
<div class="floating" style="left:30%">🩺</div>
<div class="floating" style="left:50%">💉</div>
<div class="floating" style="left:70%">🏥</div>

<div class="chatbox">
  <div class="header">
    <img src="{{ url_for('static', filename='chatbot-avatar.png') }}">
    <div>
      <b>MedCheck AI</b><br>
      <small>Medicine Safety Assistant</small>
    </div>
  </div>

  <div id="chat"></div>

  <div class="input-box">
    <input id="msg" placeholder="Ask about medicines, expiry, batch safety..." />
    <button onclick="send()">Send</button>
  </div>
</div>

<script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
